@import "../../node_modules/bootstrap/less/bootstrap";

@brand-primary: #f00;

@font-face {
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Uncial Antiqua'), local('UncialAntiqua-Regular'), url('../fonts/UncialAntiqua-Regular.woff') format('woff');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'Uncial Antiqua', cursive;
  font-size: 30pt;
  outline-colour: #f00;

  @media (max-width: 900px) {
    font-size: 20pt;
  }

  @media (max-width: 750px) {
    font-size: 16pt;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

#app {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.mmm {
  display: block;
  font-size: 32pt;
  margin: 15px auto;
}

.screen {
  .full-height;
  .full-width;
  display: table;

  .content {
    display: table-cell;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
  }
}

.screen-enter-name {
  .screen;

  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type=text] {
    display: block;
    margin: 0 auto 30px;
    outline: none; /* Removed glow */
    background-color: #000;
    border-width: 0 0 1px;
    border-style: solid;
    text-align: center;
  }
}

.screen-connecting {
  .screen;

  font-size: 32pt;

  .name {
    font-size: 1.3em;
  }

  .mirror-offline {
    font-size: 14pt;
  }
}

.screen-ready {
  .screen;

  .buttons {
    margin-top: 30px;
  }
  .btn {
    margin: 0 20px;
    outline: #f00; /* Focus glow */

  }
}

.screen-queueing {
  .screen;

  .queue-position {
    display: block;
    font-size: 3em;
  }
}

.screen-powered-by-dance {
  .screen;

  .content {
    vertical-align: top;
    padding-top: 10px;
  }

  .show-your-moves {
    font-size: 2em;
  }
}

.screen-sleep {
  .screen;

 .muli-img {
    max-width: 90%;
    max-height: 80%;
    margin: 0 auto;
  }
}

.screen-welcome {
  .screen;

  font-size: 1.3em;

  .mm {
    display: block;
    font-size: 1.8em;
  }
}

.screen-categories, .screen-questions {
  .screen;

  header {
    position: absolute;
    display: table;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10%;
  }

  h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;

    @media (max-width: 600px) {
      font-size: 1.4em;
    }
  }

  ul {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: table;
    float: left;
    height: 50%;
    width: 50%;
    padding: 0;
    text-align: center;
    font-size: 1.6em;

    @media (max-width: 600px) {
      height: 25%;
      width: 100%;
      font-size: 1.2em;
    }
  }

  .category, .answer {
    display: table-cell;
    vertical-align: middle;
  }
}

.screen-fortune {
  .screen;

 .muli-img {
    max-width: 50%;
    max-height: 40%;
    margin: 0 auto 30px;
  }
}

.screen-timeout {
  .screen;

  font-size: 14pt;
}

.screen-lost-user {
  .screen;

  font-size: 1.3em;
}















.main-screen {
  .screen;

  .category-selector, .question-asker {
    .full-height;
    .full-width;
  }

  .category-icon {
    position: absolute;
    left: 0;
    top: 0;

    &:nth-of-type(2), &:nth-of-type(4) {
      left: auto;
      right: 0;
    }

    &:nth-of-type(3), &:nth-of-type(4) {
      top: auto;
      bottom: 0;
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}