@import "../../node_modules/bootstrap/less/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Uncial+Antiqua';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'Uncial Antiqua', cursive;
}

.full-height {
  height: 100%;
}

#app {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.category-selector, .question-asker {
  .row;

  h2, .question {
    .make-xs-column(12);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .category, .answer {
    .make-xs-column(6);
    padding: 130px 0;
    text-align: center;
    font-size: 68pt;
  }
}

.category-icon {
  position: absolute;
  left: 0;
  top: 0;

  &:nth-of-type(2), &:nth-of-type(4) {
    left: auto;
    right: 0;
  }

  &:nth-of-type(3), &:nth-of-type(4) {
    top: auto;
    bottom: 0;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
}