@import "../../node_modules/bootstrap/less/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Uncial+Antiqua';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'Uncial Antiqua', cursive;
  font-size: 30pt;

  @media (max-width: 500px) {
    font-size: 16pt;
  }
}

.full-height {
  height: 100%;
}

#app {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.category-selector, .question-asker {
  .full-height;

  header {
    position: absolute;
    display: table;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10%;
  }

  h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
  }

  ul {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: table;
    float: left;
    height: 50%;
    width: 50%;
    padding: 0;
    text-align: center;
    font-size: 1.6em;

    @media (max-width: 500px) {
      height: 25%;
      width: 100%;
    }
  }

  .category, .answer {
    display: table-cell;
    vertical-align: middle;
    //float: left;
    //width: 50%;
    //padding: 0;
    //text-align: center;
    //font-size: 1.6em;
  }
}

.category-icon {
  position: absolute;
  left: 0;
  top: 0;

  &:nth-of-type(2), &:nth-of-type(4) {
    left: auto;
    right: 0;
  }

  &:nth-of-type(3), &:nth-of-type(4) {
    top: auto;
    bottom: 0;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
}