<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale=1.0,user-scalable=no"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
<div id="app">
    <component :is="screen"></component>



    <!--<div class="start-screen" v-if="displayStart()">-->
        <!--<div class="content">-->
            <!--<user-form></user-form>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="wait-screen" v-if="displayPending()">-->
        <!--<div class="content">-->
            <!--<p>Please wait...</p>-->
            <!--<p>You are currently number <span class="queue-position">{{ queuePosition }}</span> in the queue</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="main-screen" v-if="displayMain()">-->
        <!--<category-icon :category="currentCategory"></category-icon>-->
        <!--<category-icon :category="currentCategory"></category-icon>-->
        <!--<category-icon :category="currentCategory"></category-icon>-->
        <!--<category-icon :category="currentCategory"></category-icon>-->

        <!--<category-selector :categories="app.categories" v-if="displayCategorySelector()"></category-selector>-->
        <!--<question-asker v-if="displayQuestionAsker()" :question="getCurrentQuestion()"></question-asker>-->
        <!--<fortune :fortune="getFortune()" v-if="displayFortune()"></fortune>-->
    <!--</div>-->
</div>
</body>
</html>