<!DOCTYPE html>
<html>
<head>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
<div id="app">
    <div><span @click="reset">Current category:</span> <span v-if="currentCategory">{{ currentCategory.name|capitalize }}</span><span
            v-else>None</span></div>

    <category-selector :categories="app.categories" v-if="displayCategorySelector()"></category-selector>
    <question-asker v-if="displayQuestionAsker()" :question="getCurrentQuestion()"></question-asker>
    <fortune :answers="getFortune()" v-if="displayFortune()"></fortune>
</div>
</body>
</html>