<!DOCTYPE html>
<html>
<head>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
<div id="app">
    <category-icon :category="currentCategory"></category-icon>
    <category-icon :category="currentCategory"></category-icon>
    <category-icon :category="currentCategory"></category-icon>
    <category-icon :category="currentCategory"></category-icon>

    <category-selector :categories="app.categories" v-if="displayCategorySelector()"></category-selector>
    <question-asker v-if="displayQuestionAsker()" :question="getCurrentQuestion()"></question-asker>
    <fortune :answers="getFortune()" v-if="displayFortune()"></fortune>
</div>
</body>
</html>